@model Users.Web.ViewModels.UsersViewModel

@{
    ViewBag.Title = "Mockup";
}

<div class="container">
    <div class="row">
        <div class="mx-auto">
            @Html.DropDownListFor(model => model.UserId, new SelectList(Model.Users, "Value", "Text"), 
                htmlAttributes: new { @class = "form-control", id = "Users", @onchange="retrieveUserProjects()" })
        </div>
    </div>
    <br />
    <div class="row mx-auto" id="Projects">
        @Html.Partial("_Projects", Model.UserProjects)
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function retrieveUserProjects() {
            var userId = $('#Users').val();
            var urlPath = '/User/RetrieveUserProjects/';
            if (userId) {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    data: { userId: userId },
                    url: urlPath,
                    success: function(result) {
                        $('#Projects').html(result);
                    },
                    error: function(xhr) {
                        alert('Error retrieving the data!');
                        console.log(xhr);
                    }
                });
            } else
                location.reload();
        }
    </script>
}